<h2>Examples</h2>
<ul>
  {{#each model as |example|}}
  <li>{{#link-to 'example' example}}{{example.text}}{{/link-to}}</li>
  {{/each}}
{{new-example create='createExample'}}
{{!-- {{examples/update-example save='saveExample'}} --}}
</ul>

{{outlet}}
